.header{
    width: 100%;
    height: 20%;
    background-color: aqua;
    margin: auto;
}
.header img{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}
.TopNagiv{
    font-size: 35px;
    background-color: aqua;
}
.TopNagiv a{
    font-weight: bolder;
    
}
.TopNagiv a:hover {
    font-size: 30px;
    font-weight: lighter;
    background-color: burlywood;
}

.row{
    min-width: 600px;
    display: flex;

}
.column{
    width: 33.3%;
    height: auto;
}
.row::after{
    display: table;
    content: "";
    clear: both;
}
.column img{
    width: 80%;
    height: auto;
}
.footer{
    text-align: center;
}